<h4 class="ui center aligned medium icon header">
  <i class="circular inverted yellow comment icon"></i>
  Sapingo Instant Messenger
</h4>

<div class="ui two column grid">
  <div class="twelve wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui medium feed">
          <div class="event">
            <div class="content">
              <div class="summary">
                 <em>Elliot Fu</em>: Dimelo acere!!!
              </div>
            </div>
          </div>
          <div class="event">
            <div class="content">
              <div class="summary">
                 <em>Stevie Feliciano</em>: Sapngivity Activity baybeeee
              </div>
            </div>
          </div>
          <div class="event">
            <div class="content">
              <div class="summary">
                 <em>Helen Troy</em>: Cuba numero uno
              </div>
            </div>
          </div>
          <div class="event">
            <div class="content">
              <div class="summary">
                 <em>Christian Rocha</em>: Ayyyy que bola
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="extra content">
        <form class="ui reply form">
          <div class="field">
            <div class="ui fluid icon input">
              <input type="text" placeholder="Hablame sapingo...">
              <i class="bordered inverted yellow edit icon"></i>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="four wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui inverted vertical menu fluid">
          <a class="item">
            Home
          </a>
          <a class="item">
            Messages
          </a>
          <a class="item">
            Friends
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
